{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "commonjs": true,
    "browser": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
