{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  }
}
