// Derived from https://github.com/umdjs/umd/blob/master/templates/amdWebGlobal.js
(function (root, factory) {
  var exports = {};
  factory(exports);

  if (typeof define === 'function' && define.amd) {
    // AMD
    define('PenPal', exports.default);
  } else {
    // Browser global
    root.PenPal = exports.default;
  }
}(this, function (exports) {

{{moduleCode}}

}));
